    .navbar {
        background-color: rgb(77, 69, 34);
        height: 10rem;
        width: 20rem;
    }
    
    .maejo_header {
        height: 150px;
        /*ระยะขอบด้านขวา นอกกล่อง*/
        margin-left: 10rem;
    }
    
    .maejo_text {
        /* ขนาด font */
        font-size: 50px;
        /* ขนาดความหนา */
        font-weight: bold;
        color: rgb(184, 218, 82);
        /* เงาตัวอักษร */
        text-shadow: 2px 2px 4px rgb(130, 18, 158);
        text-align: center;
    }
    
    .maejo_eng_text {
        /* ขนาด font */
        font-size: 40px;
        /* ขนาดความหนา */
        font-weight: bold;
        color: rgb(10, 182, 33);
        /* เงาตัวอักษร */
        text-shadow: 2px 2px 4px rgb(48, 3, 3);
        text-align: center;
    }
    /* .navbar_text { 
        background-color: rgb(60, 153, 58);
        height: 29px;
        font-size: 18px;
        font-weight: bold;
        color: rgb(198, 201, 26);
        text-shadow: 2px 2px 5px rgb(95, 52, 3);
        text-overflow: clip;
    }*/
    
    .event {
        font-size: 20px;
    }